/projects/
/hypermatrix/projects/
/hypermatrix/config.mat
/hypermatrix/__pycache__/
/src/softwarefiles/
/Hypermatrix.egg-info/
/build/
/src/methylHic_example_data/bwa_indexing_25800913.err
/src/methylHic_example_data/bwa_indexing_25800913.log
/src/methylHic_example_data/bwa_indexing_*.err
/src/methylHic_example_data/bwa_indexing_*.log
/java_error.log
/methy_summary.cmd.txt
/src/methylHic_example_data/old_files/
/src/methylHic_example_data/04680506dd40.zip
/src/methylHic_example_data/bisulfitehic/
/src/methylHic_example_data/parallel-20240822/
/src/methylHic_example_data/parallel-latest.tar.bz2
/utilities/single-cell/wget-log
/utilities/single-cell/wget-log
/utilities/single-cell/b37.autosome.500bp_interval.add_value.methy.GM_IMR90_153_samples.bed.gz
