/bin
lib/h2o-algos-3.4.0.1.jar
lib/h2o-core-3.4.0.1.jar
lib/jahmm-0.6.1.jar
lib/spark-assembly-1.5.1-hadoop2.4.0.jar
lib/sparkling-water-assembly-1.5.3-all.jar
lib/ujmp-core-0.3.0.jar
target/bisulfitehic-0.01-jar-with-dependencies.jar
target/bisulfitehic-0.01.jar
target/classes/main/java/edu/mit/compbio/bisulfitehic/mapping/Bhmem.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
bisulfitehic-0.02-jar-with-dependencies.jar
jbwa/jbwa-1.0.0/jbwa-native.tar
jbwa/jbwa-1.0.0/src/main/native/libbwajni.jnilib
mESC.bisulfiteHic.mm9.hiccups.test2.asm.txt.gz
mESC.bisulfiteHic.mm9.hiccups.test2.methyCor.txt.gz
target/bisulfitehic-0.03-jar-with-dependencies.jar
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/BisulfiteHicUtils.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/MethyCorAcrossHiccups.class
target/bisulfitehic-0.04-jar-with-dependencies.jar
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/FisherExactTest.class
target/bisulfitehic-0.05-jar-with-dependencies.jar
target/classes/main/java/edu/mit/compbio/bisulfitehic/mapping/BhmemMultRef.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/mapping/BsmemMultRef.class
target/bisulfitehic-0.06-jar-with-dependencies.jar
target/bisulfitehic-default.jar
target/bisulfitehic-0.07-jar-with-dependencies.jar
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/EnhanceHicMatrix.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/SingleBaseResHicMatrix.class
SingleBaseResHicMatrixV2.class
bisulfitehic-0.08-jar-with-dependencies.jar
target/bisulfitehic-0.09-jar-with-dependencies.jar
target/bisulfitehic-0.10-jar-with-dependencies.jar
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/GenotypeList.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/LongRangeAsm.class
target/bisulfitehic-0.11-jar-with-dependencies.jar
target/bisulfitehic-0.12-jar-with-dependencies.jar
target/bisulfitehic-0.13-jar-with-dependencies.jar
target/bisulfitehic-0.14-jar-with-dependencies.jar
target/bisulfitehic-0.14.1-jar-with-dependencies.jar
target/bisulfitehic-0.15-jar-with-dependencies.jar
.idea/markdown-navigator.xml
.idea/dictionaries/yaping.xml
.idea/libraries/R_User_Library.xml
.idea/markdown-navigator/profiles_settings.xml
lib/jnumeric-0.2-SNAPSHOT.jar
lib/jython-2.7.0.jar
lib/nd4j-api-0.7.1.jar
lib/nd4j-base64-0.7.1.jar
lib/nd4j-native-api-0.7.1.jar
lib/nd4j-native-platform-0.7.1.jar
target/bisulfitehic-0.16-jar-with-dependencies.jar
target/bisulfitehic-0.17-jar-with-dependencies.jar
target/bisulfitehic-0.18-jar-with-dependencies.jar
target/bisulfitehic-0.19-jar-with-dependencies.jar
target/bisulfitehic-0.20-jar-with-dependencies.jar
target/bisulfitehic-0.21-jar-with-dependencies.jar
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/MethyCorAcrossHiccupsSC.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/MethyCorSepAlleleSC.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/PoissonBinomial2.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/SepAlleleMethySC.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/TestIndepPoiBinom.class
target/bisulfitehic-0.22-jar-with-dependencies.jar
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/SepAlleleMethySC2.class
target/classes/main/java/edu/mit/compbio/bisulfitehic/utils/TestIndepPoiBinomOnBam.class
